! This is your .Xresources file, some X applications use this for their
! configuration. Comments start with a exclamation sign. To reload this
! file run: `xrdb ~/.Xresources`

! Color Scheme
XTerm*foreground: #f8f8f8
XTerm*background: #0c1021

! The first color is the non-bold one, the second is the bold one.

!black
XTerm*color0:  #070a14
XTerm*color8:  #8b8bAb
!red
XTerm*color1:  #ff6400
XTerm*color9:  #ff751c
!green
XTerm*color2:  #61ce3c
XTerm*color10: #7ad65c
!yellow
XTerm*color3:  #fbde2d
XTerm*color11: #fce555
!blue
XTerm*color4:  #8da6ce
XTerm*color12: #a9bcda
!magenta
XTerm*color5:  #d8fa3c
XTerm*color13: #e0fb65
!cyan
XTerm*color6:  #7a96fa
XTerm*color14: #9db1fb
!white
XTerm*color7:  #f6f6f6
XTerm*color15: #ffffff

!other options
XTerm*font: fixed
!XTerm*boldFont: fixed
